<%- include ('../../partials/header.ejs')%> 

<div class="container">
  <hr />
  <div class="card mt-5">
    <div class="card-header">Login de admin</div>
    <div class="card-body">
      <form action="/authenticate" method="post">
        <input
          type="email"
          class="form-control"
          name="email"
          placeholder="email@exemplo.com"
        /><br />
        <input
          type="password"
          name="password"
          class="form-control"
          placeholder="*******"
        /><br />
        <button type="submit" class="btn btn-success btn-block">Logar</button>
      </form>
    </div>
  </div>
</div>
<%- include('../../partials/footer.ejs') %>
